include /helpers/create-element
include /helpers/classes
include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/container/container
include /blocks/content/content
include /blocks/button/button
include /blocks/img/img
include /blocks/ul/ul
include /blocks/li/li

doctype html
html(lang='ru')
  include ../head/head
  body
    header.header
    main: block content
    footer.footer
  +style('rest')
  if isHomePage
    +style('home')
  else
    +style('inner')
  +scripts(['script.js'])
