.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding 0.5rem 1rem 
    font-size 1.2rem
    line-height 1.4
    text-align left
    vertical-align middle
    background #F2F8F8
  &__cell
    padding 0.5rem 1rem 
    vertical-align middle
    border-bottom 1px solid #F2F8F8
    ^[-1]__row:last-child > &
      border-bottom 1px solid #F2F8F8
