.benefits
  --color-bg-block-marked var(--color-bg)
  &__title
    cursor move
    transition color var(--transition-duration-out)
    &:hover
      transition-duration var(--transition-duration-in)
      @media (min-width point-l)
        color var(--button-hover)
  &__list
    display flex
    flex-direction column
    row-gap 1rem
  &__item
    position relative
    display flex
    align-items center
    padding-left 4rem
    min-height: 60px
  &__text
    &::before
      content ''
      left 0.6rem
      width 1.5rem
      height 1.5rem
      mask-image no-repeat
      mask-size cover
    &::before
    & span 
      position absolute
      top 50%
      transform translateY(-50%)
      background-color var(--color-red)
    & span 
      position absolute
      left -5px
      width 3.3rem
      height 3.2rem
      background-color var(--color-bg)
      border-radius var(--border-radius-l)
      z-index -1
    &--help
      &::before
        mask-image var(--icon-help)
    &--warranty
      &::before
        mask-image var(--icon-warranty)
    &--insurance
      &::before
        mask-image var(--icon-insurance) 