.sales
  &__info 
    fontSize20()
    & span
      fontSize30()
      font-weight 700
  &__duration
    fontSize14()
    & span
      font-weight 700
  &__text
    position relative
    padding-right 1.5rem
    &::after
      content ''
      position absolute
  &__img
    display block
    width 100%
    height auto
    margin 0 auto