.sales
  background-color var(--color-bg)
  &__text
    &::after
      top 50%
      transform translate(0, -50%)
      right 0
      width 0
      height 0
      border-top 15px solid transparent
      border-left 15px solid var(--color-blue)
      border-bottom 15px solid transparent
  &__img
    border-radius var(--border-radius-xl)