// breakpoints
point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// base-padding
basePadding = .75rem

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

// font sizes
fontSize72()
  font-size 4.5rem
  line-height 1
fontSize40()
  font-size 2.5rem
  line-height 1
fontSize36()
  font-size 2.25rem
  line-height 1
fontSize30()
  font-size 1.875rem
  line-height 1.2
fontSize22()
  font-size 1.375rem
  line-height 1.4
fontSize20()
  font-size 1.25rem
  line-height 1.2
fontSize16()
  font-size 1rem
  line-height 1.2
fontSize14()
  font-size 0.875rem
  line-height 1.2