:root
  --color-black #000
  --color-white #fff
  --color-blue #0051D4
  --color-grey #A9B3BF
  --color-red #D90800
  --color-green #4AD45D
  --color-bg #EDEFF2

  --input-border #717880
  --button-hover #0866ff

  --box-shadow-color rgba(black, 0.15)
  --shadow-img inset 0 0 0 1px #e0e3e8, 0 10px 20px var(--box-shadow-color)
  
  --border-radius-s 5px
  --border-radius-l 10px
  --border-radius-xl 20px

  --transition-duration-in .1s
  --transition-duration-out .4s
  --transition-duration-label-in .2s

  --icon-valid url(../images/svg-sprites/common.svg#valid)
  --icon-invalid url(../images/svg-sprites/common.svg#invalid)
  --icon-arrow url(../images/svg-sprites/common.svg#arrow)
  --icon-help url(../images/svg-sprites/common.svg#help)
  --icon-warranty url(../images/svg-sprites/common.svg#warranty)
  --icon-insurance url(../images/svg-sprites/common.svg#insurance)
