.form-input
  &__field
    color var(--color-black)
    border-radius var(--border-radius-s)
    transition transform, scale, border-color, box-shadow
    transition-duration var(--transition-duration-out)
    &.valid
      background-image var(--icon-valid)
      background-repeat no-repeat
      background-position right 20px center
      background-size 12px 12px
      border-color var(--color-green)
    &.invalid
      background-repeat no-repeat
      background-position right 20px center
      background-size 12px 12px
      background-image var(--icon-invalid)
      border-color var(--color-red)
    &:focus
      outline none
      border-color var(--color-blue)
      transition-duration var(--transition-duration-in)
      box-shadow 0 0 0 1px var(--color-blue)
  &__label 
    top 50%
    left 0.9rem
    transform translate(0, -50%)
    cursor auto
    transition transform, scale
    transition-duration var(--transition-duration-out)
  &__field:focus + .form-input__label
  &__field:not(:placeholder-shown) + .form-input__label 
    transform: translate(-15%, -1.6rem) scale(0.75)
    color var(--color-grey)
    transition-duration var(--transition-duration-label-in)
