.form-input
  &__field
    width 100%
    padding 0.7rem
    fontSize16()
    font-family 'Commissioner', 'Helvetica-Neue', 'Arial', sans-serif
    border 1px solid var(--input-border)
  &__label 
    position absolute
