head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preload' href='/template/fonts/Commissioner-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  +style('core')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
