.additional 
  &
    @media(min-resolution 2dppx)
      font-family 'Lora', 'Times New Roman', serif
  & h2
    margin-bottom 1.5rem
    font-size 2.5rem
    line-height 1.4
    font-weight 700
    @media(max-width point-m - 1)
      font-size 1.8rem
      line-height 1.2
  & img
    display block
    width 60%
    height auto
    @media(max-width point-m - 1)
      width 100%
  & p
  & li
    font-size 1.25rem
    line-height 1.4
  & 
    .par + p
      margin-top 2rem
    p + p
      margin-top 1rem
  & .unordered-list
    margin 1rem
  & 
    .unordered-list__item + .unordered-list__item
      margin-top 0.1rem
