extends /blocks/layout/layout
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.additional
    h1 Йога туры
    +pageSubsection
      h2 Первая часть тура: &laquo;Искусство дыхания&raquo; (25&nbsp;февраля&nbsp;&mdash; 6&nbsp;марта)
      .par
        +img({
          name: 'add-pic',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true }, 
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            {values: [ 1 ]}
          ]
        })(alt= 'Картинка' title= 'Картинка' width=400 height=300)
      p Эта часть тура пройдет на&nbsp;берегу Арабского моря, в&nbsp;небольшом южном штате Гоа. Зимние месяцы в&nbsp;Гоа отличаются особо мягким климатом. Погода в&nbsp;это время идеальна, безоблачное синие небо, теплые, и&nbsp;в&nbsp;то&nbsp;же время не&nbsp;жаркие дни и&nbsp;спокойное море. Самый подходящий климат для практики.
      p Кроме того, это даёт возможность искупаться и&nbsp;позагорать в&nbsp;свободное от&nbsp;практик время! 
      p В&nbsp;программе семинара:
      +ul
        +li Пранаямы и&nbsp;крия как основа дыхания
        +li Базовые асаны и&nbsp;их&nbsp;роль в&nbsp;йоге и&nbsp;терапевтический эффект
        +li Основы теории и&nbsp;философии йоги и&nbsp;их&nbsp;применение на&nbsp;практике.
        +li Мантры и&nbsp;Бхаджаны&nbsp;&mdash; звуковая вибрация и&nbsp;ее&nbsp;значение. 
      p Преподаватель&nbsp;&mdash; Дмитрий Орехов 
    +pageSubsection
      h2 Вторая часть тура: &laquo;Искусство тишины&raquo; (7&nbsp;&mdash; 11&nbsp;марта)
      p &laquo;Искусство тишины&raquo;&nbsp;&mdash; пятидневный семинар, посвященный медитации, который пройдет в&nbsp;крупном международном центре йоги под Бангалором. Семинар закончится празднованием Шиваратри в&nbsp;присутствии одного из&nbsp;известнейших учителей йоги&nbsp;&mdash; Шри Шри Рави Шанкара.
      p Бангалор называют город-парк, и&nbsp;действительно Бангалор&nbsp;&mdash; &laquo;зеленый город&raquo;, разукрашенный разными оттенками тропических растений. Расположенный внутри континента, он&nbsp;находится на&nbsp;высоте 900 метров над уровнем моря, что делает климат удивительно мягким и&nbsp;свежим, тогда как в&nbsp;других южных индийских городах стоит жара.
      p В&nbsp;программе семинара: 
      +ul
        +li Основы медитации  
        +li Практика пратьяхары (молчание)  
        +li Беседы&nbsp;о (строении нашего тела и&nbsp;о&nbsp;законах его существования) 
        +li Мантры и&nbsp;Бхаджаны
      p Преподаватели: Индийские мастера  
    +pageSubsection
      h2 Программа тура: 
      +table
        +tr
          +th Дата
          +th Событие
        +tr
          +td 25&nbsp;февраля
          +td Вылет из&nbsp;Москвы или Санкт Петербурга
        +tr
          +td 25&nbsp;февраля&nbsp;&mdash; 5&nbsp;марта
          +td Гоа. Семинар &laquo;Искусство Дыхания&raquo;
        +tr
          +td 6&nbsp;марта
          +td Перелет в&nbsp;Бангалор
        +tr
          +td 7-11 марта
          +td Семинар &laquo;Искусство Тишины&raquo;
        +tr
          +td 11&nbsp;марта
          +td Празднование Шиваратри
        +tr
          +td Ночь с&nbsp;11&nbsp;на 12ое марта
          +td Вылет в&nbsp;Москву или Санкт-Петербург