extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    p: a(href='main.html') Основное задание — main.html
    p: a(href='additional.html') Доп.задание — additional.html
