extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const sliderImg = [
      {
        title: 'Иванов Иван Иванович',
        image: 'specialist-1'
      },
      {
        title: 'Петров Петр Петрович',
        image: 'specialist-2'
      }
    ]

  +pageSection.sales
    +grid({ alignItems: 'center', justify: 'center' })
      +cell({ l:3, m:3, s:5 })
        +img({
          name: 'sales',
          path: '/images/',
          formats: [
            { ext: 'jpg', orig: true }, 
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            {values: [ 1 ]}
          ]
        })(alt= 'Акция Профессиональная гигиена зубов' title= 'Акция Профессиональная гигиена зубов' width=250 height=240).sales__img
      +cell({ l:5, m:4, s:12 }).sales__sales  
        h2 Акция
        p.sales__info Профессиональная гигиена зубов + отбеливание системой Opalescence всего за #[span 9900 руб.]
        br
        br
        p.sales__duration Срок действия акции с #[span 01.12.2013] г. до #[span 01.01.2014] г.
        br
        .block-marked 
          p.sales__text Сделайте свою улыбку неотразимой и привлекательной
      +cell({ l:4, m:5 })
        form(action='https://echo.htmlacademy.ru/' method='post').sales-form
          p.sales-form__part Участвовать в акции
          p Для того чтобы принять участие в акции позвоните нам: (812) 123-45-67 или оставьте ваш телефон:
          ul 
            li.sales-form__item
              input#name.form-input__field(type='text' placeholder=' ' name='name-surname' required)
              label.form-input__label(for='name') Имя Фамилия
            li.sales-form__item
              input#tel.form-input__field(type='text' placeholder=' ' name='tel')
              label.form-input__label.form-input__label--tel(for='tel') Контактный телефон
          +button(type='button').sales-form__btn Отправить заявку

  +pageSection 
    +grid.benefits
      +cell({ l:4 })
        h3.benefits__title Преимущества Opalescence:
        +ul
          +li Безопасность.
          +li Нейтральный рН геля не изменяет структуру зуба.
          +li Вода в составе геля не допускает обезвоживания зуба.
          +li Защита десен.
          +li Содержание фторидов уменьшает риск возникновения кариеса.
          +li Быстрый и стойкий результат.

      +cell({ l:4 })
        h3.benefits__title В стоимость входит
        +ul.block-marked
          +li профессиональная чистка зубов
          +li отбеливание зубов системой Opalescence
        br
        h3 Отзывы о чистке зубов
        ul 
          li 
            a(href='/') Сегодня была в вашей клинике, мне провели процедуру по снятию зубных отложений
          li
            a(href='/') В субботу была на чистке зубов (камни, налет)

      +cell({ l:4 })
        h3.benefits__title Наши преимущества
        ul.benefits__list
          li.benefits__item
            p.benefits__text.benefits__text--help Гарантированное получение помощи при острой боли в день боли в день обращения
              span
          li.benefits__item
            p.benefits__text.benefits__text--warranty Гарантия на все виды стоматологических услуг
              span
          li.benefits__item
            p.benefits__text.benefits__text--insurance Обслуживание по ДМС
              span

  +pageSection 
    h3 Наши специалисты
    +pageSubsection({ specialist:true }).specialist
      .specialist__slider.swiper
        .specialist__slider-wrapper.swiper-wrapper
          .specialist__slide.swiper-slide
            a(href='/').specialist__link
              +img({
                name: sliderImg[0].image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  {values: [ 1 ]}
                ]
              })(alt= sliderImg[0].title title= sliderImg[0].title width=150 height=200).specialist__img
            a(href='/').a.a--secondary Иванов #[br] Иван Иванович
          .specialist__slide.swiper-slide
            a(href='/').specialist__link
              +img({
                name: sliderImg[1].image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  {values: [ 1 ]},
                ]
              })(alt= sliderImg[1].title title= sliderImg[1].title width=150 height=200).specialist__img
            a(href='/').a--secondary Петров #[br] Петр Петрович
          .specialist__slide.swiper-slide
            a(href='/').specialist__link
              +img({
                name: sliderImg[0].image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  {values: [ 1 ]}
                ]
              })(alt= sliderImg[0].title title= sliderImg[0].title width=150 height=200).specialist__img
            a(href='/').a--secondary Иванов #[br] Иван Иванович
          .specialist__slide.swiper-slide
            a(href='/').specialist__link 
              +img({
                name: sliderImg[1].image,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  {values: [ 1 ]}
                ]
              })(alt= sliderImg[1].title title= sliderImg[1].title width=150 height=200).specialist__img
            a(href='/').a--secondary Петров #[br] Петр Петрович
              
        button.specialist__swiper-button.swiper-button-prev
        button.specialist__swiper-button.swiper-button-next
