a
  display block
  fontSize16()
  color var(--color-blue)
  text-decoration none
  transition color var(--transition-duration-out)
  &:hover
    transition-duration var(--transition-duration-in)
    @media (min-width point-l)
      color var(--button-hover)
.a
  &--secondary
    fontSize16()
    font-weight 600
    color var(--color-black)
    &:hover
      @media (min-width point-l)
        color var(--color-grey)