.specialist
  &__link
    display block
    position relative
    width 100%
    height 250px
    margin-bottom 1.2rem
    border-radius var(--border-radius-xl)
    overflow hidden
    transition box-shadow var(--transition-duration-out)
    will-change transform
    &:hover
      box-shadow var(--shadow-img)
      transition-duration var(--transition-duration-in)
  &__img
    position absolute
    display block
    width 100%
    height 250px
    object-fit cover
    object-position 50% 20%
    transition transform var(--transition-duration-out)
    &:hover
      transform scale(1.05)
      transition-duration var(--transition-duration-in)
  &__slider
    overflow visible
  &__swiper-button.swiper-button-prev
  &__swiper-button.swiper-button-next
    top 8rem
    width 2.5rem
    height 2.5rem
    padding 0.5rem
    border none
    border-radius 50%
    background-color var(--color-white)
    transition background-color var(--transition-duration-out)
    &::after
      content ''
      top 50%
      left 50%
      width 16px
      height 14px
      mask-image var(--icon-arrow)
      mask-repeat no-repeat
      mask-position center
      background-color var(--color-black)
    &:hover
      transition-duration var(--transition-duration-in)
      @media (min-width point-l)
        background-color var(--color-blue)
        &::after
          background-color var(--color-white)
  &__swiper-button.swiper-button-prev
    left -1.5rem
    box-shadow 2px 3px 10px var(--box-shadow-color)
  &__swiper-button.swiper-button-next
    right -1.5rem
    box-shadow -2px 3px 10px var(--box-shadow-color)
    &::after
      transform rotate(180deg)
